#!/usr/bin/make -f

PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	# remove empty manpage
	rm --verbose $(TMP)/usr/share/man/man3/Test::Deep::Fuzzy::Number.3pm
